html {
  display: block;
  width: 100vw;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
}

.App {
  display: block;
  font-family: 'Spartan', serif;
  font-weight: 200;
  line-height: 1.5em;
  color: rgb(68, 69, 75);
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

.Content {
  display: block;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: white;
  z-index: -1;
  flex: 1;
}

.section-wrapper {
  display: flex;
  justify-content: space-evenly;
  text-align: justify;
  background-color: white;
  padding: 6vw 10vw 0vw 10vw;
}

a {
  color: rgb(60, 131, 136);
}

h3 {
  font-family: 'Poiret One', serif;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.5em;
  letter-spacing: 0.1em;
  font-size: 1.8em;
  color: rgb(91, 95, 99);
}

/* NAVIGATION */

nav {
  overflow: hidden;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background: linear-gradient(to right, rgba(87, 56, 87, 0.8), rgba(97, 96, 83, 0.8), rgba(74, 82, 94, 0.8), rgba(51, 78, 65, 0.7), rgba(55, 89, 102, 0.8), rgba(114, 64, 81, 0.8));
  box-shadow: 0 0.2em 0.1em -0.1em rgba(0,0,0,.2);
}

#ul-nav {
  display: flex;
  justify-content: space-around;
  padding: 0.4vw;
  list-style-type: none;
}

.nav-item {
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  padding: .1vw 0;
  margin: 0 .75vw;
  border-top: 0.2em dotted #ffffff00;
  transition: 0.5s ease-in-out;
}

.nav-item:hover {
  border-top: 0.2em dotted #ffffff;
}

/* HERO SECTION */

.hero-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background: url(Images/maclaptop.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.arrow-section a {
  position: absolute;
  margin: 0 auto;
  padding: 0;
  width: 8vw;
  bottom: 1vw;
  left: 0;
  right: 0;
}

.down-arrow-img {
  height: 8vw;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.bounce {
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  30%  { transform: translateY(-20px); }
  50%  { transform: translateY(0); }
  100% { transform: translateY(0); }
}

.hero-section > a {
  padding: 0.1em 0;
  text-decoration: none;
  border-bottom: 0.3em dotted #ffffff;
  border-top: 0.3em dotted #ffffff;
}

header {
  padding: 1vw 1vw 2vw 1vw;
  font-family: 'Poiret One', serif;
  letter-spacing: 0.7vw;
  font-weight: 500;
  width: 40vw;
  color: rgb(72, 77, 85);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0.2em 0.1em -0.1em rgba(0,0,0,.2);
  transition: 0.3s ease;
}

header:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

header h1 {
  font-size: 2.5vw;
}

header h2 {
  font-size: 1.5vw;
  padding: 0.5em;
  white-space: nowrap;
  animation: typing 4s steps(40, end);
  overflow: hidden;
  border-right: 0.1em solid rgb(244, 255, 85);
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  margin: 0 auto;
  /* background-color: lightcoral; */
}

@keyframes typing {
  0% { width: 0%;}
  1% {opacity: 1;}
  100% { width: 77%; opacity: 1; border-color: transparent;}
}

/* ABOUT SECTION */

#about-sinara {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

#about-sinara p {
  text-align: left;
  max-width: 47em;
  margin: 0 auto;
  padding: 0.6em;
}

#sinara-photo {
  width: 13em;
  margin: 0 auto;
  border-radius: 50%;
  outline-offset: -0.5em;
  border: 0.8em solid rgb(255, 255, 255);
  box-shadow: -1vw -1vw rgba(176, 176, 176, 0.7);
}

.about-sinara-photo-wrapper{
  padding: 0 1em;
}

.about-sinara-summary p:first-child{
  color: purple;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* SKILLS SECTION  */

.development-icons{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding-top: 0.5em;
}

.development-icons i{
  width: 1.8em;
  font-size: 4em;
  padding: 0.3em;
  margin: 0 auto;
}

.development-icons p {
  margin: 0.5em auto;
  font-size: 1em;
}

.development-icons div {
  margin: 1.2em;
}

.development-icons div:hover {
  background: linear-gradient(to right, rgb(177, 91, 218), rgb(230, 189, 75), rgb(46, 170, 253), #00b7c7, #B294FF, #57E6E6);
  background-size: 500% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 2s linear infinite;
}

@keyframes gradient { 
  0%{background-position:0 0}
  100%{background-position:100% 0}
}

/* PROJECTS SECTION  */

.project-image > a > img {
  width: 18em;
  box-shadow: 0.2em 0.2em 0.2em 0.1em rgba(0,0,0,.2);
  outline: 0.1em solid rgba(128, 128, 128, 0.3);
  margin: 1em;
}

.single-project {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0,0,0,.2);
  transition: 0.5s ease-in-out;
}

.single-project:hover {
  background-color: rgba(127, 173, 173, 0.166);
}

.single-project-left {
  max-width: 30em;
  margin: 0 auto;
  text-align: center;
}

.single-project-right {
  max-width: 33em;
  margin: 0 auto;
  padding: 0 2em 2em 2em;
  text-align: left;
}

.project-description ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.project-description li {
 margin: 0.2em 0.8em 0.5em 0;
 padding: 0.2em 1em;
 font-size: 0.8em;
 color: #a479bb;
 font-weight: 600;
 border: 0 solid rgba(174,136,173,.2);
 background-color: rgba(174,136,173,.1);
 border-radius: 100px;
}

.project-links {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-bottom: 0.6em;
}

.project-links a{
  text-decoration: none;
  margin-right: 1em;
  margin-top: 0.6em;
}

.project-links a:hover{
  text-decoration: underline;
}

.project-links svg {
  fill: rgb(60, 131, 136);
  margin-right: 0.6em;
}

/* RESUME SECTION  */

#resume-icon {
 width: 10em;
 margin: 0 auto;
 border-radius: 50%;
 border: 0.3em dotted rgb(255, 255, 255);
 transition: 0.5s ease-in-out;
}

#resume-icon:hover {
 border: 0.3em dotted rgb(111, 211, 196);
}

.resume-inner-wrapper h3 {
  margin-bottom: 0.5em;
}

/* CONTACT SECTION  */

.social-media {
  text-align: center;
  margin-bottom: 2em;
}

.social-media h3 {
  padding-top: 0.5em;
  margin-top: 0;
}

.email-wrapper {
  margin: 2.5em auto;
}

.email-wrapper a {
  padding: 1em;
  border: 0.01em solid  rgb(82, 179, 177);
  font-size: 1.2em;
  text-decoration: none;
  background: transparent;
  transition: 0.5s ease-in-out;
}

.email-wrapper a:hover {
  color: white;
  background-color: rgb(82, 179, 177);
}

.social-media-icons a svg {
  margin: 0.5em;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}

.social-media-icons a svg:hover {
  fill: rgb(82, 179, 177);
}

/* FOOTER */

footer {
  text-align: center;
  font-size: 0.9em;
  padding: 1.5em;
  color: white;
  background-color: rgba(77, 83, 95, 0.8);
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
  color: rgb(89, 187, 178);
}

.top-sign {
  text-align: center;
  font-size: 1em;
  padding: 1em;
  color: white;
  background-color:  rgb(82, 179, 177);
}

.top-sign a {
  color: white;
}

.top-sign a:hover {
  color: rgb(6, 37, 6);
}


/* SMALL SCREEN */
@media only screen and (max-width: 769px) {

  .hero-section > a {
    margin-top: -2em;
  }

  header {
    padding: 1vw 1vw 5vw 1vw;
    letter-spacing: 1vw;
    width: 70vw;
  }

  header h1 {
    font-size: 6.5vw;
  }
  
  header h2 {
    font-size: 4.5vw;
  }

  .hero-section {
    background-position-x: 60%;
  }

  .arrow-section a {
    width: 18vw;
    bottom: 2vw;
  }
  
  .down-arrow-img {
    height: 18vw;
  }

  .nav-item {
    font-size: 0.95em;
  }

  #about-sinara p {
    text-align: left;
    margin: 0 auto;
    padding: 0.4em 0.3em;
  }

  .development-icons{
    padding-top: 0.5em;
    margin: 0 -1em;
  }

  .development-icons i{
    font-size: 3.1em;
}

  .development-icons p {
    font-size: 0.9em;
  }

  .development-icons div {
    margin: 0.4em;
    padding: 0.5em;
    width: 5.1em;
  }

  .single-project-right {
    padding: 0 0.3em 0.5em 0.5em;
  }

  #resume-icon {
    width: 8em;
   }

}


